body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}
/* 顶部logo */
.header{
    width: 1200px;
    margin-top: 20px;
}
/* 注册和登录区域 */
.loginAndRegBox{
    position: fixed;
    width: 400px;
    height: 310px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.titleBox{
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}

/* 表单样式 */
.layui-form{
    padding: 0 30px;
}
.links{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-top: 15px;
}
.layui-form-item{
    position: relative;
}
.layui-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}
.layui-input{
    padding-left: 32px;
}
